*{
    text-decoration: none!important;
}
body {
    background: #120922;
    list-style-type: none;
    text-decoration: none;
}


      #episodeno { font-size: 2rem;
      margin: auto;
      display: block;
      width: fit-content;
      text-shadow: 0px 2px 3px aqua;
      color: aqua;
    }
   
     